In [16]:
import pandas as pd
import os
from pathlib import Path

# Define the futures directory
futures_dir = Path(r'Z:\Trade_Control\Futures')

# Get all CSV files
csv_files = sorted([f for f in futures_dir.glob('*.csv')])
print(f"Found {len(csv_files)} CSV files in {futures_dir}")
print("\nFiles:")
for i, file in enumerate(csv_files[:23]):  # Show first 10
    print(f"{i}: {file.name}")

Found 21 CSV files in Z:\Trade_Control\Futures

Files:
0: Futures_20250717_1400.csv
1: Futures_20250717_1500.csv
2: Futures_20250717_1600.csv
3: Futures_20250718_1104.csv
4: Futures_20250718_1404.csv
5: Futures_20250718_1500.csv
6: Futures_20250718_1601.csv
7: Futures_20250721_1403.csv
8: Futures_20250721_1605.csv
9: Futures_20250722_1401.csv
10: Futures_20250722_1500.csv
11: Futures_20250722_1600.csv
12: Futures_20250723_1501.csv
13: Futures_20250724_1401.csv
14: Futures_20250725_1401.csv
15: Futures_20250728_1501.csv
16: Futures_20250729_1401.csv
17: Futures_20250730_1401.csv
18: Futures_20250731_1402.csv
19: Futures_20250731_1539.csv
20: Futures_20250801_1401.csv

In [17]:
pricing_dfs = []

In [18]:
# Load first file
file_idx = 0
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250717_1400.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type      price         timestamp
0     TU      close  103.19125  2025-07-17 14:00
1     FV      close  108.01000  2025-07-17 14:00
2     TY      close  110.16500  2025-07-17 14:00
3     US      close  112.04000  2025-07-17 14:00
4     RX      close  129.26560  2025-07-17 14:00

In [19]:
file_idx = 6 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL and any column containing SETTLE
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250718_1601.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.667969  2025-07-18 16:01
1     FV      close  108.218750  2025-07-18 16:01
2     TY      close  110.781250  2025-07-18 16:01
3     US      close  112.437500  2025-07-18 16:01
4     RX      close  130.718750  2025-07-18 16:01

In [20]:
file_idx = 7 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250721_1403.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.718750  2025-07-21 14:03
1     FV      close  108.445312  2025-07-21 14:03
2     TY      close  111.187500  2025-07-21 14:03
3     US      close  113.437500  2025-07-21 14:03
4     RX      close  130.450000  2025-07-21 14:03

In [21]:
file_idx = 10 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250722_1500.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.757812  2025-07-22 15:00
1     FV      close  108.570312  2025-07-22 15:00
2     TY      close  111.406250  2025-07-22 15:00
3     US      close  113.968750  2025-07-22 15:00
4     RX      close  130.740000  2025-07-22 15:00

In [22]:
file_idx = 12 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250723_1501.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.660156  2025-07-23 15:01
1     FV      close  108.320312  2025-07-23 15:01
2     TY      close  111.015625  2025-07-23 15:01
3     US      close  113.343750  2025-07-23 15:01
4     RX      close  130.580000  2025-07-23 15:01

In [23]:
file_idx = 13 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250724_1401.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.574219  2025-07-24 14:01
1     FV      close  108.148438  2025-07-24 14:01
2     TY      close  110.828125  2025-07-24 14:01
3     US      close  113.281250  2025-07-24 14:01
4     RX      close  129.580000  2025-07-24 14:01

In [24]:
file_idx = 14 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250725_1401.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.589844  2025-07-25 14:01
1     FV      close  108.242188  2025-07-25 14:01
2     TY      close  110.984375  2025-07-25 14:01
3     US      close  113.593750  2025-07-25 14:01
4     RX      close  129.320000  2025-07-25 14:01

In [25]:
file_idx = 15 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    df = df.iloc[:5]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250728_1501.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close    103.5625  2025-07-28 15:01
1     FV      close  108.140625  2025-07-28 15:01
2     TY      close  110.765625  2025-07-28 15:01
3     US      close   113.15625  2025-07-28 15:01
4     RX      close      129.73  2025-07-28 15:01

In [26]:
file_idx = 16 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250729_1401.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.652344  2025-07-29 14:01
1     FV      close  108.445312  2025-07-29 14:01
2     TY      close  111.359375  2025-07-29 14:01
3     US      close  114.531250  2025-07-29 14:01
4     RX      close  129.660000  2025-07-29 14:01

In [27]:
file_idx = 17 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250730_1401.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.527344  2025-07-30 14:01
1     FV      close  108.187500  2025-07-30 14:01
2     TY      close  111.000000  2025-07-30 14:01
3     US      close  113.875000  2025-07-30 14:01
4     RX      close  129.530000  2025-07-30 14:01

In [28]:
file_idx = 18 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250731_1402.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.492188  2025-07-31 14:02
1     FV      close  108.171875  2025-07-31 14:02
2     TY      close  111.062500  2025-07-31 14:02
3     US      close  114.187500  2025-07-31 14:02
4     RX      close  129.700000  2025-07-31 14:02

In [29]:
file_idx = 20 
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE_DEC, and 'Settle Price = Today'
    cols_to_keep = ['SYMBOL', 'PX_SETTLE_DEC']
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Futures_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns
    df.columns = ['symbol', 'price']
    
    # Add price_type and timestamp columns
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nFull DataFrame:")
    display(df)
    pricing_dfs.append(df)

File: Futures_20250801_1401.csv
Shape: (5, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

Full DataFrame:

  symbol price_type       price         timestamp
0     TU      close  103.960938  2025-08-01 14:01
1     FV      close  109.023438  2025-08-01 14:01
2     TY      close  112.203125  2025-08-01 14:01
3     US      close  115.687500  2025-08-01 14:01
4     RX      close  129.800000  2025-08-01 14:01

In [ ]:
# File 22
file_idx = 21
if file_idx < len(csv_files):
    file = csv_files[file_idx]
    print(f"File: {file.name}")
    df = pd.read_csv(file)
    # Filter columns: keep SYMBOL, PX_SETTLE, and 'Settle Price = Today' if present
    cols_to_keep = ['SYMBOL', 'PX_SETTLE']
    if 'Settle Price = Today' in df.columns:
        cols_to_keep.append('Settle Price = Today')
    df = df[cols_to_keep]
    
    # Extract and format timestamp from filename
    date_time = file.name.replace('Options_', '').replace('.csv', '')
    date_part = date_time[:8]
    time_part = date_time[9:]
    timestamp = f"{date_part[:4]}-{date_part[4:6]}-{date_part[6:8]} {time_part[:2]}:{time_part[2:]}"
    
    # Rename columns and add price_type
    df = df.rename(columns={'SYMBOL': 'symbol', 'PX_SETTLE': 'price'})
    df['price_type'] = 'close'
    df['timestamp'] = timestamp
    
    # Reorder columns
    df = df[['symbol', 'price_type', 'price', 'timestamp']]
    
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print("\nDataFrame:")
    print(df)
    pricing_dfs.append(df)

File: Options_20250731_1539.csv

Shape: (384, 4)
Columns: ['symbol', 'price_type', 'price', 'timestamp']

DataFrame:
                          symbol price_type  \
0       1MQ5P    114 COMB Comdty      close
1    1MQ5P    113.75 COMB Comdty      close
2     1MQ5P    113.5 COMB Comdty      close
3    1MQ5P    113.25 COMB Comdty      close
4       1MQ5P    113 COMB Comdty      close
..                           ...        ...
379                          0.0      close
380                          0.0      close
381                          0.0      close
382                          0.0      close
383                          0.0      close

                                                 price         timestamp
0                                               2.9375  2025-07-31 15:39
1                                               2.6875  2025-07-31 15:39
2                                               2.4375  2025-07-31 15:39
3                                               2.1875  2025-07-31 15:39
4                                               1.9375  2025-07-31 15:39
..                                                 ...               ...
379  #N/A Mandatory parameter [SECURITY] cannot be ...  2025-07-31 15:39
380  #N/A Mandatory parameter [SECURITY] cannot be ...  2025-07-31 15:39
381  #N/A Mandatory parameter [SECURITY] cannot be ...  2025-07-31 15:39
382  #N/A Mandatory parameter [SECURITY] cannot be ...  2025-07-31 15:39
383  #N/A Mandatory parameter [SECURITY] cannot be ...  2025-07-31 15:39

[384 rows x 4 columns]

In [30]:
# Combine all dataframes into one
combined_df = pd.concat(pricing_dfs, ignore_index=True)

# Display the combined dataframe
print(f"Combined DataFrame Shape: {combined_df.shape}")
print(f"Total rows: {len(combined_df)}")
print("\nCombined DataFrame:")
display(combined_df)

Combined DataFrame Shape: (60, 4)
Total rows: 60

Combined DataFrame:

   symbol price_type       price         timestamp
0      TU      close   103.19125  2025-07-17 14:00
1      FV      close      108.01  2025-07-17 14:00
2      TY      close     110.165  2025-07-17 14:00
3      US      close      112.04  2025-07-17 14:00
4      RX      close    129.2656  2025-07-17 14:00
5      TU      close  103.667969  2025-07-18 16:01
6      FV      close   108.21875  2025-07-18 16:01
7      TY      close   110.78125  2025-07-18 16:01
8      US      close    112.4375  2025-07-18 16:01
9      RX      close   130.71875  2025-07-18 16:01
10     TU      close   103.71875  2025-07-21 14:03
11     FV      close  108.445312  2025-07-21 14:03
12     TY      close    111.1875  2025-07-21 14:03
13     US      close    113.4375  2025-07-21 14:03
14     RX      close      130.45  2025-07-21 14:03
15     TU      close  103.757812  2025-07-22 15:00
16     FV      close  108.570312  2025-07-22 15:00
17     TY      close   111.40625  2025-07-22 15:00
18     US      close   113.96875  2025-07-22 15:00
19     RX      close      130.74  2025-07-22 15:00
20     TU      close  103.660156  2025-07-23 15:01
21     FV      close  108.320312  2025-07-23 15:01
22     TY      close  111.015625  2025-07-23 15:01
23     US      close   113.34375  2025-07-23 15:01
24     RX      close      130.58  2025-07-23 15:01
25     TU      close  103.574219  2025-07-24 14:01
26     FV      close  108.148438  2025-07-24 14:01
27     TY      close  110.828125  2025-07-24 14:01
28     US      close   113.28125  2025-07-24 14:01
29     RX      close      129.58  2025-07-24 14:01
30     TU      close  103.589844  2025-07-25 14:01
31     FV      close  108.242188  2025-07-25 14:01
32     TY      close  110.984375  2025-07-25 14:01
33     US      close   113.59375  2025-07-25 14:01
34     RX      close      129.32  2025-07-25 14:01
35     TU      close    103.5625  2025-07-28 15:01
36     FV      close  108.140625  2025-07-28 15:01
37     TY      close  110.765625  2025-07-28 15:01
38     US      close   113.15625  2025-07-28 15:01
39     RX      close      129.73  2025-07-28 15:01
40     TU      close  103.652344  2025-07-29 14:01
41     FV      close  108.445312  2025-07-29 14:01
42     TY      close  111.359375  2025-07-29 14:01
43     US      close   114.53125  2025-07-29 14:01
44     RX      close      129.66  2025-07-29 14:01
45     TU      close  103.527344  2025-07-30 14:01
46     FV      close    108.1875  2025-07-30 14:01
47     TY      close       111.0  2025-07-30 14:01
48     US      close     113.875  2025-07-30 14:01
49     RX      close      129.53  2025-07-30 14:01
50     TU      close  103.492188  2025-07-31 14:02
51     FV      close  108.171875  2025-07-31 14:02
52     TY      close    111.0625  2025-07-31 14:02
53     US      close    114.1875  2025-07-31 14:02
54     RX      close       129.7  2025-07-31 14:02
55     TU      close  103.960938  2025-08-01 14:01
56     FV      close  109.023438  2025-08-01 14:01
57     TY      close  112.203125  2025-08-01 14:01
58     US      close    115.6875  2025-08-01 14:01
59     RX      close       129.8  2025-08-01 14:01

In [31]:
# === APPLY SYMBOL TRANSLATION FOR FUTURES ===
print("=== APPLYING SYMBOL TRANSLATION ===\n")

# Define the translation mapping
symbol_mapping = {
    'TY': 'TYU5 Comdty',
    'FV': 'FVU5 Comdty',
    'TU': 'TUU5 Comdty',
    'US': 'USU5 Comdty',
    'RX': 'RXU5 Comdty'
}

# Create a copy for translation
translated_df = combined_df.copy()

# Show current symbols
print("Current symbols in dataframe:")
print(translated_df['symbol'].unique())

# Apply translation
print("\nApplying translations...")
translated_df['symbol'] = translated_df['symbol'].map(symbol_mapping)

# Check if all symbols were translated
if translated_df['symbol'].isna().any():
    print("\n⚠️ WARNING: Some symbols could not be translated:")
    unmapped = combined_df[translated_df['symbol'].isna()]['symbol'].unique()
    print(f"Unmapped symbols: {unmapped}")
else:
    print("\n✓ All symbols successfully translated!")

# Show translated symbols
print("\nTranslated symbols:")
print(translated_df['symbol'].unique())

# Display sample of translated data
print("\nSample of translated data:")
print(translated_df.head(10))

=== APPLYING SYMBOL TRANSLATION ===

Current symbols in dataframe:
['TU' 'FV' 'TY' 'US' 'RX']

Applying translations...

✓ All symbols successfully translated!

Translated symbols:
['TUU5 Comdty' 'FVU5 Comdty' 'TYU5 Comdty' 'USU5 Comdty' 'RXU5 Comdty']

Sample of translated data:
        symbol price_type       price         timestamp
0  TUU5 Comdty      close   103.19125  2025-07-17 14:00
1  FVU5 Comdty      close      108.01  2025-07-17 14:00
2  TYU5 Comdty      close     110.165  2025-07-17 14:00
3  USU5 Comdty      close      112.04  2025-07-17 14:00
4  RXU5 Comdty      close    129.2656  2025-07-17 14:00
5  TUU5 Comdty      close  103.667969  2025-07-18 16:01
6  FVU5 Comdty      close   108.21875  2025-07-18 16:01
7  TYU5 Comdty      close   110.78125  2025-07-18 16:01
8  USU5 Comdty      close    112.4375  2025-07-18 16:01
9  RXU5 Comdty      close   130.71875  2025-07-18 16:01

In [32]:
# === PREPARE FUTURES DATA FOR DATABASE INSERTION ===
print("=== PREPARING FUTURES DATA FOR DATABASE ===\n")

# Start with translated dataframe
insert_df = translated_df.copy()

# 1. Normalize symbol spacing (just in case)
print("1. Normalizing symbol spacing...")
insert_df['symbol'] = insert_df['symbol'].astype(str).str.strip()
insert_df['symbol'] = insert_df['symbol'].str.replace(r'\s+', ' ', regex=True)

# 2. Remove any duplicates
print("\n2. Checking for duplicates...")
before_dedup = len(insert_df)
insert_df = insert_df.drop_duplicates(subset=['symbol', 'timestamp'], keep='last')
after_dedup = len(insert_df)
print(f"   Removed {before_dedup - after_dedup} duplicate rows")

# 3. Format timestamp to include seconds
print("\n3. Formatting timestamps...")
insert_df['timestamp'] = insert_df['timestamp'] + ':00'
print(f"   Sample timestamp: {insert_df['timestamp'].iloc[0]}")

# 4. Convert price to string
print("\n4. Converting price to string...")
insert_df['price'] = insert_df['price'].astype(str)

# 5. Final verification
print("\n=== FINAL DATA READY FOR INSERTION ===")
print(f"Total rows: {len(insert_df)}")
print(f"Data types: {dict(insert_df.dtypes)}")
print(f"Unique symbols: {insert_df['symbol'].unique()}")
print(f"\nSample data:")
print(insert_df.head())

# Save for insertion
futures_insert_df = insert_df.copy()
print("\n✓ Data saved to 'futures_insert_df' variable for insertion")

=== PREPARING FUTURES DATA FOR DATABASE ===

1. Normalizing symbol spacing...

2. Checking for duplicates...
   Removed 0 duplicate rows

3. Formatting timestamps...
   Sample timestamp: 2025-07-17 14:00:00

4. Converting price to string...

=== FINAL DATA READY FOR INSERTION ===
Total rows: 60
Data types: {'symbol': dtype('O'), 'price_type': dtype('O'), 'price': dtype('O'), 'timestamp': dtype('O')}
Unique symbols: ['TUU5 Comdty' 'FVU5 Comdty' 'TYU5 Comdty' 'USU5 Comdty' 'RXU5 Comdty']

Sample data:
        symbol price_type      price            timestamp
0  TUU5 Comdty      close  103.19125  2025-07-17 14:00:00
1  FVU5 Comdty      close     108.01  2025-07-17 14:00:00
2  TYU5 Comdty      close    110.165  2025-07-17 14:00:00
3  USU5 Comdty      close     112.04  2025-07-17 14:00:00
4  RXU5 Comdty      close   129.2656  2025-07-17 14:00:00

✓ Data saved to 'futures_insert_df' variable for insertion

In [35]:
# === INSERT FUTURES DATA INTO DATABASE ===
import sqlite3

print("=== INSERTING FUTURES DATA INTO DATABASE ===\n")

# Connect to database
conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # Check current state
    cursor.execute("SELECT COUNT(*) FROM pricing")
    initial_count = cursor.fetchone()[0]
    print(f"Current rows in pricing table: {initial_count}")
    
    # Check specifically for our futures symbols before insertion
    futures_symbols = ['TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty']
    print("\nChecking for existing futures data (our specific symbols):")
    for symbol in futures_symbols:
        cursor.execute("SELECT COUNT(*) FROM pricing WHERE symbol = ? AND price_type = 'close'", (symbol,))
        count = cursor.fetchone()[0]
        print(f"   {symbol}: {count} existing rows")
    
    # Convert dataframe to list of tuples for insertion
    records = futures_insert_df[['symbol', 'price_type', 'price', 'timestamp']].values.tolist()
    print(f"\nInserting {len(records)} futures records...")
    
    # Insert in batches
    batch_size = 500
    total_inserted = 0
    
    for i in range(0, len(records), batch_size):
        batch = records[i:i+batch_size]
        
        # Use INSERT OR REPLACE to handle conflicts
        cursor.executemany("""
            INSERT OR REPLACE INTO pricing (symbol, price_type, price, timestamp)
            VALUES (?, ?, ?, ?)
        """, batch)
        
        total_inserted += len(batch)
        print(f"   Batch {i//batch_size + 1}: Inserted {len(batch)} rows")
    
    # Commit the transaction
    conn.commit()
    print(f"\n✓ Successfully inserted {total_inserted} futures records")
    
    # Get final count
    cursor.execute("SELECT COUNT(*) FROM pricing")
    final_count = cursor.fetchone()[0]
    print(f"\nFinal row count in pricing table: {final_count}")
    print(f"Net new rows added: {final_count - initial_count}")
    
    # Show sample of our specific futures data
    print("\nSample of newly inserted futures data (our symbols only):")
    cursor.execute("""
        SELECT symbol, price_type, price, timestamp 
        FROM pricing 
        WHERE symbol IN ('TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty')
        AND price_type = 'close'
        ORDER BY timestamp DESC 
        LIMIT 10
    """)
    
    for row in cursor.fetchall():
        print(f"   {row[0]:<20} | {row[1]:<10} | {row[2]:<10} | {row[3]}")
    
    # Summary by our specific futures symbols
    print("\nFutures data summary by symbol (our symbols only):")
    cursor.execute("""
        SELECT symbol, COUNT(*) as count
        FROM pricing 
        WHERE symbol IN ('TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty')
        AND price_type = 'close'
        GROUP BY symbol
        ORDER BY symbol
    """)
    
    for row in cursor.fetchall():
        print(f"   {row[0]}: {row[1]} rows")
        
except Exception as e:
    print(f"❌ Error during insertion: {e}")
    conn.rollback()
    
finally:
    conn.close()
    print("\n✓ Database connection closed")

=== INSERTING FUTURES DATA INTO DATABASE ===

Current rows in pricing table: 1077

Checking for existing futures data (our specific symbols):
   TYU5 Comdty: 1 existing rows
   FVU5 Comdty: 1 existing rows
   TUU5 Comdty: 1 existing rows
   USU5 Comdty: 1 existing rows
   RXU5 Comdty: 1 existing rows

Inserting 60 futures records...
   Batch 1: Inserted 60 rows

✓ Successfully inserted 60 futures records

Final row count in pricing table: 1077
Net new rows added: 0

Sample of newly inserted futures data (our symbols only):
   FVU5 Comdty          | close      | 109.0234375 | 2025-08-01 14:01:00
   RXU5 Comdty          | close      | 129.8      | 2025-08-01 14:01:00
   TUU5 Comdty          | close      | 103.9609375 | 2025-08-01 14:01:00
   TYU5 Comdty          | close      | 112.203125 | 2025-08-01 14:01:00
   USU5 Comdty          | close      | 115.6875   | 2025-08-01 14:01:00

Futures data summary by symbol (our symbols only):
   FVU5 Comdty: 1 rows
   RXU5 Comdty: 1 rows
   TUU5 Comdty: 1 rows
   TYU5 Comdty: 1 rows
   USU5 Comdty: 1 rows

✓ Database connection closed

In [36]:
# === SIMPLE FUTURES INSERTION ===
import sqlite3

print("=== INSERTING ALL FUTURES DATA ===\n")

# Connect to database
conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # Show what we're about to insert
    print(f"Data to insert from futures_insert_df:")
    print(f"Total rows: {len(futures_insert_df)}")
    print(f"Unique symbols: {futures_insert_df['symbol'].unique()}")
    print(f"\nFirst 5 rows:")
    print(futures_insert_df.head())
    
    # Get initial count
    cursor.execute("SELECT COUNT(*) FROM pricing")
    before_count = cursor.fetchone()[0]
    print(f"\nRows in pricing table before insertion: {before_count}")
    
    # Convert to records and insert ALL rows
    records = futures_insert_df[['symbol', 'price_type', 'price', 'timestamp']].values.tolist()
    
    # Insert everything
    cursor.executemany("""
        INSERT INTO pricing (symbol, price_type, price, timestamp)
        VALUES (?, ?, ?, ?)
    """, records)
    
    inserted = cursor.rowcount
    print(f"\nInserted {inserted} rows")
    
    # Commit
    conn.commit()
    
    # Get final count
    cursor.execute("SELECT COUNT(*) FROM pricing")
    after_count = cursor.fetchone()[0]
    print(f"Rows in pricing table after insertion: {after_count}")
    print(f"Net increase: {after_count - before_count}")
    
    # Show what we actually inserted
    print("\nVerifying insertion - sample of futures data:")
    cursor.execute("""
        SELECT symbol, price_type, price, timestamp 
        FROM pricing 
        WHERE symbol IN ('TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty')
        ORDER BY symbol, timestamp DESC
        LIMIT 15
    """)
    
    for row in cursor.fetchall():
        print(f"   {row[0]} | {row[1]} | {row[2]} | {row[3]}")
        
except Exception as e:
    print(f"❌ Error: {e}")
    conn.rollback()
    
finally:
    conn.close()
    print("\n✓ Done")

=== INSERTING ALL FUTURES DATA ===

Data to insert from futures_insert_df:
Total rows: 60
Unique symbols: ['TUU5 Comdty' 'FVU5 Comdty' 'TYU5 Comdty' 'USU5 Comdty' 'RXU5 Comdty']

First 5 rows:
        symbol price_type      price            timestamp
0  TUU5 Comdty      close  103.19125  2025-07-17 14:00:00
1  FVU5 Comdty      close     108.01  2025-07-17 14:00:00
2  TYU5 Comdty      close    110.165  2025-07-17 14:00:00
3  USU5 Comdty      close     112.04  2025-07-17 14:00:00
4  RXU5 Comdty      close   129.2656  2025-07-17 14:00:00

Rows in pricing table before insertion: 1077
❌ Error: UNIQUE constraint failed: pricing.symbol, pricing.price_type

✓ Done

In [37]:
# === DIAGNOSTIC: WHAT'S REALLY GOING ON ===
import sqlite3

print("=== DIAGNOSTIC CHECK ===\n")

conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # 1. Check the actual table schema
    print("1. PRICING TABLE SCHEMA:")
    cursor.execute("PRAGMA table_info(pricing)")
    schema = cursor.fetchall()
    for col in schema:
        print(f"   {col}")
    
    # 2. Check if there's a primary key or unique constraint
    print("\n2. TABLE CONSTRAINTS:")
    cursor.execute("SELECT sql FROM sqlite_master WHERE type='table' AND name='pricing'")
    create_statement = cursor.fetchone()
    if create_statement:
        print(f"   {create_statement[0]}")
    
    # 3. Check what's actually in the database for our futures symbols
    print("\n3. EXISTING DATA FOR OUR FUTURES SYMBOLS:")
    futures_symbols = ['TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty']
    
    for symbol in futures_symbols:
        cursor.execute("""
            SELECT symbol, price_type, price, timestamp 
            FROM pricing 
            WHERE symbol = ?
            ORDER BY timestamp
        """, (symbol,))
        
        rows = cursor.fetchall()
        print(f"\n   {symbol}: {len(rows)} rows")
        if rows:
            for row in rows[:3]:  # Show first 3
                print(f"      {row}")
                
    # 4. Check all price_types in the database
    print("\n4. ALL PRICE_TYPES IN DATABASE:")
    cursor.execute("SELECT DISTINCT price_type FROM pricing")
    price_types = cursor.fetchall()
    for pt in price_types:
        print(f"   '{pt[0]}'")
        
    # 5. Check our dataframe's unique combinations
    print("\n5. OUR DATAFRAME'S UNIQUE (symbol, price_type) COMBINATIONS:")
    unique_combos = futures_insert_df[['symbol', 'price_type']].drop_duplicates()
    print(f"   Total unique combinations: {len(unique_combos)}")
    for _, row in unique_combos.iterrows():
        print(f"   {row['symbol']} | {row['price_type']}")
        
    # 6. Find the exact conflict
    print("\n6. FINDING THE EXACT CONFLICT:")
    for _, row in futures_insert_df.iterrows():
        cursor.execute("""
            SELECT COUNT(*) 
            FROM pricing 
            WHERE symbol = ? AND price_type = ?
        """, (row['symbol'], row['price_type']))
        
        count = cursor.fetchone()[0]
        if count > 0:
            print(f"   CONFLICT: {row['symbol']} | {row['price_type']} already exists")
            break
            
except Exception as e:
    print(f"Error: {e}")
    
finally:
    conn.close()

print("\n=== END DIAGNOSTIC ===")

=== DIAGNOSTIC CHECK ===

1. PRICING TABLE SCHEMA:
   (0, 'symbol', 'TEXT', 0, None, 1)
   (1, 'price_type', 'TEXT', 0, None, 2)
   (2, 'price', 'REAL', 0, None, 0)
   (3, 'timestamp', 'TEXT', 0, None, 0)

2. TABLE CONSTRAINTS:
   CREATE TABLE pricing (
        symbol TEXT,
        price_type TEXT,
        price REAL,
        timestamp TEXT,
        PRIMARY KEY (symbol, price_type)
    )

3. EXISTING DATA FOR OUR FUTURES SYMBOLS:

   TYU5 Comdty: 3 rows
      ('TYU5 Comdty', 'sodTom', 112.203125, '2025-08-01 14:00:00')
      ('TYU5 Comdty', 'close', 112.203125, '2025-08-01 14:01:00')
      ('TYU5 Comdty', 'now', 112.2421875, '2025-08-02T13:00:32.770497')

   FVU5 Comdty: 2 rows
      ('FVU5 Comdty', 'sodTom', 109.0234375, '2025-08-01 14:00:00')
      ('FVU5 Comdty', 'close', 109.0234375, '2025-08-01 14:01:00')

   TUU5 Comdty: 2 rows
      ('TUU5 Comdty', 'sodTom', 103.9609375, '2025-08-01 14:00:00')
      ('TUU5 Comdty', 'close', 103.9609375, '2025-08-01 14:01:00')

   USU5 Comdty: 2 rows
      ('USU5 Comdty', 'sodTom', 115.6875, '2025-08-01 14:00:00')
      ('USU5 Comdty', 'close', 115.6875, '2025-08-01 14:01:00')

   RXU5 Comdty: 2 rows
      ('RXU5 Comdty', 'sodTom', 129.8, '2025-08-01 14:00:00')
      ('RXU5 Comdty', 'close', 129.8, '2025-08-01 14:01:00')

4. ALL PRICE_TYPES IN DATABASE:
   'sodTom'
   'close'
   'now'

5. OUR DATAFRAME'S UNIQUE (symbol, price_type) COMBINATIONS:
   Total unique combinations: 5
   TUU5 Comdty | close
   FVU5 Comdty | close
   TYU5 Comdty | close
   USU5 Comdty | close
   RXU5 Comdty | close

6. FINDING THE EXACT CONFLICT:
   CONFLICT: TUU5 Comdty | close already exists

=== END DIAGNOSTIC ===

In [38]:
# === OPTION 2: DELETE EXISTING FUTURES CLOSE PRICES AND INSERT ALL ===
import sqlite3

print("=== REPLACING FUTURES CLOSE PRICES ===\n")

conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # 1. Delete existing futures close prices
    print("1. Deleting existing futures close prices...")
    futures_symbols = ['TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty']
    
    for symbol in futures_symbols:
        cursor.execute("""
            DELETE FROM pricing 
            WHERE symbol = ? AND price_type = 'close'
        """, (symbol,))
        deleted = cursor.rowcount
        print(f"   Deleted {deleted} rows for {symbol}")
    
    # 2. Now we can insert all our historical data
    print("\n2. Inserting all futures historical data...")
    
    # But wait - this won't work because the table still has (symbol, price_type) as PRIMARY KEY
    # We can only store ONE close price per symbol!
    
    print("\n⚠️  WARNING: This approach won't work!")
    print("The table structure only allows ONE price per (symbol, price_type) combination.")
    print("We need to use Option 1 to change the table structure.")
    
except Exception as e:
    print(f"❌ Error: {e}")
    conn.rollback()
    
finally:
    conn.close()

=== REPLACING FUTURES CLOSE PRICES ===

1. Deleting existing futures close prices...
   Deleted 1 rows for TYU5 Comdty
   Deleted 1 rows for FVU5 Comdty
   Deleted 1 rows for TUU5 Comdty
   Deleted 1 rows for USU5 Comdty
   Deleted 1 rows for RXU5 Comdty

2. Inserting all futures historical data...

⚠️  WARNING: This approach won't work!
The table structure only allows ONE price per (symbol, price_type) combination.
We need to use Option 1 to change the table structure.

In [ ]:
# === UNDERSTANDING WHY OPTIONS WORKED ===
import sqlite3

print("=== COMPARING OPTIONS VS FUTURES SITUATION ===\n")

conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # 1. Let's check some options data to see what's different
    print("1. CHECKING OPTIONS DATA:")
    
    # Get a sample of options symbols
    cursor.execute("""
        SELECT symbol, price_type, COUNT(*) as count
        FROM pricing 
        WHERE symbol NOT IN ('TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty')
        AND price_type = 'close'
        GROUP BY symbol, price_type
        HAVING count > 1
        LIMIT 10
    """)
    
    results = cursor.fetchall()
    if results:
        print("   ⚠️ Found options with multiple close prices (shouldn't be possible!):")
        for row in results:
            print(f"   {row}")
    else:
        print("   ✓ No options have multiple close prices (as expected with current table structure)")
    
    # 2. Check a specific options symbol
    print("\n2. EXAMINING A SPECIFIC OPTIONS SYMBOL:")
    cursor.execute("""
        SELECT symbol, price_type, price, timestamp
        FROM pricing
        WHERE symbol LIKE '1MQ5%'
        AND price_type = 'close'
        LIMIT 5
    """)
    
    for row in cursor.fetchall():
        print(f"   {row}")
        
    # 3. The key insight
    print("\n3. THE KEY DIFFERENCE:")
    print("   When we inserted options data, we used INSERT OR REPLACE")
    print("   This means:")
    print("   - For each (symbol, price_type), it REPLACED the existing row")
    print("   - So we only kept the LAST price for each symbol")
    print("   - That's why 'Net new rows added' was only 5 for futures - it replaced existing ones!")
    
    # 4. Let's verify - count total close prices
    cursor.execute("SELECT COUNT(*) FROM pricing WHERE price_type = 'close'")
    close_count = cursor.fetchone()[0]
    
    cursor.execute("SELECT COUNT(DISTINCT symbol) FROM pricing WHERE price_type = 'close'")
    unique_symbols = cursor.fetchone()[0]
    
    print(f"\n4. VERIFICATION:")
    print(f"   Total 'close' prices in database: {close_count}")
    print(f"   Unique symbols with 'close' prices: {unique_symbols}")
    print(f"   → Each symbol has exactly 1 close price (not multiple dates)")
    
except Exception as e:
    print(f"Error: {e}")
    
finally:
    conn.close()

print("\n=== CONCLUSION ===")
print("The options data DID NOT actually store multiple dates!")
print("Each INSERT OR REPLACE overwrote the previous price.")
print("The current table structure can only store ONE price per (symbol, price_type).")
print("\nTo store historical data, we need a different approach...")

In [ ]:
# === SOLUTION: CREATE A SEPARATE HISTORICAL PRICING TABLE ===
import sqlite3

print("=== CREATING HISTORICAL PRICING TABLE ===\n")

conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # 1. Create a new table for historical pricing data
    print("1. Creating pricing_history table...")
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS pricing_history (
            symbol TEXT NOT NULL,
            price_type TEXT NOT NULL,
            price REAL,
            timestamp TEXT NOT NULL,
            PRIMARY KEY (symbol, price_type, timestamp)
        )
    """)
    print("   ✓ Table created with PRIMARY KEY (symbol, price_type, timestamp)")
    
    # 2. Insert all our futures historical data
    print("\n2. Inserting futures historical data...")
    records = futures_insert_df[['symbol', 'price_type', 'price', 'timestamp']].values.tolist()
    
    cursor.executemany("""
        INSERT OR IGNORE INTO pricing_history (symbol, price_type, price, timestamp)
        VALUES (?, ?, ?, ?)
    """, records)
    
    inserted = cursor.rowcount
    print(f"   ✓ Inserted {inserted} futures historical records")
    
    # 3. Also insert the options historical data if you want
    print("\n3. Do you also want to insert the options historical data?")
    print("   (We'll need to re-run the options notebook to get all dates)")
    
    # Commit
    conn.commit()
    
    # 4. Verify the results
    print("\n4. Verifying results:")
    cursor.execute("SELECT COUNT(*) FROM pricing_history")
    total_count = cursor.fetchone()[0]
    print(f"   Total rows in pricing_history table: {total_count}")
    
    # Check our futures data
    for symbol in ['TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty']:
        cursor.execute("""
            SELECT COUNT(*), MIN(timestamp), MAX(timestamp)
            FROM pricing_history 
            WHERE symbol = ? AND price_type = 'close'
        """, (symbol,))
        count, min_ts, max_ts = cursor.fetchone()
        print(f"   {symbol}: {count} prices from {min_ts} to {max_ts}")
    
    # 5. Show sample data
    print("\n5. Sample historical data:")
    cursor.execute("""
        SELECT * FROM pricing_history 
        WHERE symbol = 'TYU5 Comdty' 
        ORDER BY timestamp
        LIMIT 5
    """)
    
    for row in cursor.fetchall():
        print(f"   {row}")
        
except Exception as e:
    print(f"❌ Error: {e}")
    conn.rollback()
    
finally:
    conn.close()
    print("\n✓ Done")

print("\n=== SUMMARY ===")
print("Created a new 'pricing_history' table that can store multiple prices per symbol")
print("The original 'pricing' table remains unchanged (stores only latest prices)")
print("Your close price watcher can continue updating the 'pricing' table")
print("Historical analysis can use the 'pricing_history' table")

In [ ]:
# === SAFELY MODIFY PRICING TABLE TO INCLUDE TIMESTAMP IN PRIMARY KEY ===
import sqlite3

print("=== MODIFYING PRICING TABLE STRUCTURE (SAFELY) ===\n")

conn = sqlite3.connect('../trades.db')
cursor = conn.cursor()

try:
    # 1. Create a backup table with ALL existing data
    print("1. Creating backup of existing pricing data...")
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS pricing_backup AS 
        SELECT * FROM pricing
    """)
    
    cursor.execute("SELECT COUNT(*) FROM pricing_backup")
    backup_count = cursor.fetchone()[0]
    print(f"   ✓ Backed up {backup_count} rows to pricing_backup table")
    
    # 2. Rename the original table
    print("\n2. Renaming original table...")
    cursor.execute("ALTER TABLE pricing RENAME TO pricing_old")
    print("   ✓ Renamed pricing → pricing_old")
    
    # 3. Create new pricing table with timestamp in primary key
    print("\n3. Creating new pricing table with better structure...")
    cursor.execute("""
        CREATE TABLE pricing (
            symbol TEXT NOT NULL,
            price_type TEXT NOT NULL,
            price REAL,
            timestamp TEXT NOT NULL,
            PRIMARY KEY (symbol, price_type, timestamp)
        )
    """)
    print("   ✓ Created new table with PRIMARY KEY (symbol, price_type, timestamp)")
    
    # 4. Copy all data from old table to new
    print("\n4. Copying all data to new table...")
    cursor.execute("""
        INSERT INTO pricing (symbol, price_type, price, timestamp)
        SELECT symbol, price_type, price, timestamp FROM pricing_old
    """)
    copied = cursor.rowcount
    print(f"   ✓ Copied {copied} rows")
    
    # 5. Verify data integrity
    print("\n5. Verifying data integrity...")
    cursor.execute("SELECT COUNT(*) FROM pricing")
    new_count = cursor.fetchone()[0]
    
    cursor.execute("SELECT COUNT(*) FROM pricing_old")
    old_count = cursor.fetchone()[0]
    
    if new_count == old_count:
        print(f"   ✓ Data verified: {new_count} rows in new table matches {old_count} in old")
        
        # 6. Drop the old table
        print("\n6. Cleaning up...")
        cursor.execute("DROP TABLE pricing_old")
        print("   ✓ Dropped pricing_old table")
    else:
        print(f"   ❌ Data mismatch! New: {new_count}, Old: {old_count}")
        print("   Rolling back changes...")
        raise Exception("Data integrity check failed")
    
    # Commit all changes
    conn.commit()
    print("\n✓ Successfully modified table structure!")
    
    # 7. Now insert our futures data
    print("\n7. Now inserting futures historical data...")
    records = futures_insert_df[['symbol', 'price_type', 'price', 'timestamp']].values.tolist()
    
    cursor.executemany("""
        INSERT OR IGNORE INTO pricing (symbol, price_type, price, timestamp)
        VALUES (?, ?, ?, ?)
    """, records)
    
    inserted = cursor.rowcount
    conn.commit()
    print(f"   ✓ Inserted {inserted} new futures records")
    
    # 8. Final summary
    print("\n8. Final summary:")
    cursor.execute("SELECT COUNT(*) FROM pricing")
    final_total = cursor.fetchone()[0]
    print(f"   Total rows in pricing table: {final_total}")
    
    # Show futures data
    for symbol in ['TYU5 Comdty', 'FVU5 Comdty', 'TUU5 Comdty', 'USU5 Comdty', 'RXU5 Comdty']:
        cursor.execute("""
            SELECT COUNT(*) 
            FROM pricing 
            WHERE symbol = ? AND price_type = 'close'
        """, (symbol,))
        count = cursor.fetchone()[0]
        print(f"   {symbol}: {count} close prices")
        
except Exception as e:
    print(f"\n❌ Error occurred: {e}")
    print("Attempting to rollback...")
    conn.rollback()
    
    # Try to restore original state
    try:
        cursor.execute("DROP TABLE IF EXISTS pricing")
        cursor.execute("ALTER TABLE pricing_old RENAME TO pricing")
        print("✓ Restored original table")
    except:
        print("❌ Could not restore - check pricing_backup table for your data")
    
finally:
    conn.close()

print("\n=== DONE ===")
print("Your pricing table now supports multiple prices per symbol!")
print("The backup is in 'pricing_backup' table if needed")